<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @book.title %>
</p>

<p>
  <b>Description:</b>
  <%= @book.description %>
</p>

<p>
  <b>Keywords:</b>
  <%= @book.keywords %>
</p>

<p>
  <b>Authors:</b>
  <%= @book.authors %>
</p>

<p>
  <b>Editorial:</b>
  <%= @book.editorial %>
</p>

<p>
  <b>Year:</b>
  <%= @book.year %>
</p>

<b>Comments</b>
<%= render @book.comments %>

<% if user_signed_in? %>
  <b>Add a comment:</b>
  <%= form_for([@book, @book.comments.build]) do |f| %>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  <% end %>
<% end %>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
